# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.DS_Store
*.html~
*.orig
*.pyc
*.py~
*.rej
*.scssc
*.sql.gz
*.xml~ *~
.agignore
.coverage
.nose-stopwatch-times
.pre-commit-config.yaml
.svn
.version
.env
/.idea
/.project
/.pydevproject
/.settings
/node_modules/*
node_modules/
ession.vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
cover/
diff_coverage.html
docker/archive.tar.gz
docker/deps/*
htmlcov/
npm-debug.log
objgraph.py
request.txt
tags
taxonomy_built
bundle.js
bundle.js.map
*.env
pytest_report.html
.vscode
dubizzle/lib
djcelery
media/staticfiles
analytics_include_1
dubizzle/analytics_include_1
data/redis/*
data/elasticsearch/*
docker-compose.yaml
.codacy.yaml
.python-version
package-lock.json
